#im-container {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  width: 1100px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;

  &.hide {
    display: none;
  }
}
